<div class="navbar">
  <div class="content">
    <div class="logo"></div>
    <div class="item"><a href="#smartvet"><span>QUE ES SMARTVET</span></a></div>
    <div class="item"><a href="#quiensomos"><span>QUIENES SOMOS</span></a></div>
    <div class="item"><a href="#alianzas"><span>ALIANZAS</span></a></div>
    <div class="item"><a href="#contacto"><span>CONTACTO</span></a></div>
    <div class="item text-green"><span>INSCRIBETE</span></div>
    <div class="item text-green"><span>INICIA SESIÓN</span></div>
  </div>
</div>