:host{
  height:100%;
  width:100%;
}
@font-face {
    font-family: Gobold;
    src: url("assets/fonts/Gobold.ttf");
}
.splash{
  height:400px;
  display: flex;
  width:100%;
  background: url('assets/img/splash.jpg');
  background-size: 1920px 900px;
  background-position: center center;
  .titulo{
    display: flex;
    height:100%;
    width:100%;
    justify-content:center;
    align-items:center;
    font-family: Gobold;
    span{
      display: flex;
      color:#92E7CB;
      font-size: 40px;
    }
  }
}