<div id="quiensomos" class="quiensomos">
	<div class="content">
		<div class="titulo">¿QUIENES SOMOS?</div>
	    <div class="own">
	    	<div class="item" *ngFor="let integrante of integrantes" [style.background-image]="'url('+integrante.image+')'" (mouseover)="integrante.show = true" (mouseleave)="integrante.show = false" [style.background-size]="integrante.x+'px'">
	    		<div class="item_content" *ngIf="integrante.show">
		    		<div class="nombre">{{ integrante.nombre }}</div>
		    		<div class="cargo">{{ integrante.cargo }}</div>
		    		<div class="descripcion">{{ integrante.descripcion }}</div>
	    		</div>
	    	</div>
	    </div>
	</div>
</div>