<div id="smartvet" class="video">
	<div class="content">
		<div class="titulo">¿QUE ES SMARTVET?</div>
		<div class="bajada">REVISA NUESTRO VIDEO INTRODUCTORIO PARA CONOCER MAS DE SMARTVET Y VER SI TE ANIMAS A SER UNO DE NOSOTROS.</div>
    <div class="videoc"></div>
    <div class="suscription">
      <div class="title"><span>SUSCRIBETE: </span></div>
      <div class="input">
        <input type="text" placeholder="Ingresa tu dirección de correo electronico" />
      </div>
      <div class="button">
        <span>Registrate</span>
      </div>
    </div>
	</div>
</div>