<div id="contacto" class="video">
  <div class="background">
  	<div class="content">
  		<div class="titulo">CONTACTO</div>
      <div class="field_contacto">
        <div class="title"><span>NOMBRE: </span></div>
        <div class="input">
          <input type="text" placeholder="INGRESA TU NOMBRE Y APELLIDO" />
        </div>
      </div>
       <div class="field_contacto">
        <div class="title"><span>CORREO: </span></div>
        <div class="input">
          <input type="text" placeholder="INGRESA TU DIRECCIÓN DE CORREO ELECTRONICO" />
        </div>
      </div>
      <div class="field_contacto">
        <div class="title"><span>MENSAJE: </span></div>
        <div class="input">
          <textarea placeholder="DEJANOS TU MENSAJE"></textarea>
        </div>
      </div>
      <div class="field_contacto">
        <div class="button"><span>ENVIAR</span></div>
      </div>
  	</div>
  </div>
</div>