<div class="footer">
  <div class="content">
  	<div class="logo"><div class="img"></div></div>
  	<div class="menu">
  		<div class="item"><span>QUE ES SMARTVET / </span></div>
  		<div class="item"><span>QUIENES SOMOS / </span></div>
  		<div class="item"><span>ALIANZAS / </span></div>
  		<div class="item"><span>CONTACTO / </span></div>
  		<div class="item"><span>INSCRIBETE / </span></div>
  		<div class="item"><span>INICIAR SESIÓN / </span></div>
  		<div class="item"><span>SE UN SMARTVET</span></div>
  	</div>
  	<div class="rss">
  		<div class="facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></div>
  		<div class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></div>
  		<div class="vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></div>
  	</div>
  </div>
</div>